#landing-page {
    width: 100vw;
    height: 100vh;

    color: #e8e8e9;
    background-color: #202124;
}

#landing-page.content-wrapper{
    width: 100%;
    max-width: 1100px;
    height: 100%;
    max-height: 680px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#landing-page header.landing-header a {
    text-decoration: none!important;
    color: #e8e8e9;
    float: right;
    margin-right: 15px;
    margin-top: 5px;
    font-size: 20px;
    transition: color 0.2s;
}

#landing-page header.landing-header a:hover {
    color: rgb(4, 211, 97);
}

#landing-page header.landing-header h1 {
    float: left;
    margin-left: 15px;
    margin-top: 5px;
    color: #e8e8e9;
}

#landing-page header.landing-header span {
    color: rgb(4, 211, 97);
}

.content-wrapper main {
    position: absolute;
    top: 100px;
    margin-left: 40px;
    margin-top: 50px;
}

.content-wrapper main h1 {
    max-width: 450px;
    font-size: 86px;
    font-weight: 900;
    line-height: 70px;
}

.content-wrapper span {
    color: rgb(4, 211, 97);
}

.content-wrapper main p {
    max-width: 350px;
    margin-top: 40px;
    font-size: 34px;
    line-height: 34px;
}

.content-wrapper .enter-app {
    position: absolute;
    top: 300px;

    text-decoration: none;
    color: #e8e8e9;
    text-align: center;
    font-size: 20px;

    width: 250px;
    
    border: 2px solid #000;
    padding: 15px 10px 15px;
    border-radius: 25px;
    background-color: rgb(4, 211, 97);
    
    transition: background-color 0.2s;
}

.content-wrapper .enter-app:hover{
    background-color: #059947;
}

.content-wrapper img {
    position: absolute;
    top: 10%;
    right: 20%;
    width: 500px;
    height: 500px;    
}

